
.ProductPageMainContainer {
    background-color: #ffff;
}

.ProductPageInnerContainer {
    display: flex;
    margin: 2.5rem;
}

.ProductPageProductContainer {
    width: 54.674%;
    margin: 0 auto;
}

.ProductPageSideSort {
    width: 19.8915%;
}

@media only screen and (max-width:1440px) {
    .ProductPageProductContainer {
        width: 52.84%;
        margin-left: 6rem;
    }

    .ProductPageSideSort {
        width: 22%;
        margin-right: 6rem;
    }

    .product_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width:1024px) {
    .ProductPageProductContainer {
        width: 70%;
        margin: 0;
    }
}
@media only screen and (max-width:768px){
    .ProductPageProductContainer {
        width: 66%;
    }
    
    .ProductPageSideSort {
        width: 32.9%;
    }
}
