.product_body {
    width: 100%;
    margin: 0;
}

.product_searchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #212A3E;
    margin-bottom: 1.563rem;
}

.product_search {
    width: 18.063rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_search select {
    width: 3.918rem;
    height: 2.813rem;
    border: 1px solid black;
    border-radius: 5px;
}

.product_search input {
    border: 0;
}

.product_searchbar img {
    width: 1.875rem;
    height: 1.875rem;
    mix-blend-mode: multiply;
}

.product_sort {
    margin-top: 1.563rem;
    margin-bottom: 3.125rem;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 2.813rem;
}

.product_sort select {
    width: 9.563rem;
    height: 100%;
    border-radius: 5px;
}

.product_sort p {
    margin: 0;
}

.product_data {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}


.product_img {
    display: flex;
    flex-direction: row;
    width: 62%;
    gap: 2.5rem;
}

.product_item{
    display: flex;
    justify-content: space-between;
    margin: 1.875rem;
}
.product_itemss{
    margin-bottom: 1.875rem;
}

.product_img img {
    width: 36.3%;
    aspect-ratio: 1/1;
    border-radius: 1.25rem;
}

.product_title {
    font-size: 1.875rem;
    font-weight: 500;
    word-wrap: break-word;
}

.product_imf {
    color: #6E6E6E;
    word-wrap: break-word;
}

.product_info {
    width: 60%;
}

.product_price {
    margin-top: 1.5rem;
    width: 25%;
}

.product_price_1 {
    display: flex;
    gap: 3.5rem;
    width: 100%;
}

.product_price_1 p {
    font-size: 1.563rem;
    margin: 0;
    width: 30%;
}

.product_price_1_input {
    display: flex;
    width: 40%;
    height: 2.843rem;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 3px solid #000000;
    border-radius: 5px;
}
.product_price_1_input > input{
    width: 80%;
    border: 0;
    text-align: center;
    background-color: transparent;
}
.product_price_1_input > button{
    width: 10%;
    border: 0;
    background-color: transparent;
}
.product_increment{
    display: flex;
    width: 60%;
    height: 1.5rem;
}
.product_increment > input{
    width: 80%;
}

.product_price > button {
    margin-top: 1.25rem;
    width: 100%;
    height: 4.438rem;
    background-color: #000000;
    color: white;
    border-radius: 1.25rem;
}

@media only screen and (max-width:1440px) {
    .product_imf {
        gap: 0.625rem;
    }
}
@media only screen and (max-width:1024px){
    .product_price{
         width: 30%;
         margin-top: 1.5rem;
    }
}