.product_page{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 1%;
    margin-right: 4%;
    width: 100%;
    margin: 20px 5px;
    

}
.first_img{
    box-shadow: inset;
    width: 30%;
}
.second_imf{
    box-shadow: inset;
    width: 34.5%;
}
.third_cart{
    box-shadow: inset;
    width: 25%;
}
.img_{
    height: 25vh;
    width: 25vh;
    object-fit: cover;
}
.imf_1{
    margin: 8px 0 0 0;
    text-align: left;
    word-wrap: break-word;

}
.imf_2{
    margin: 3px 0 0 0;
    text-align: left;
    word-wrap: break-word;
}

.li_{
    text-align: left;
    color: red;
    font-size: 10px;
}
.stock_{
    text-align: left;
    font-size: 10px;
    margin: 3px 0 0 0;
}
.ul_{
    margin: 8px 0 0 0;
    padding: 0 0 0 15px;
}
.price_qunt{
    display: flex;
    margin-top: 4px;
    flex-direction: row;
}
.adj_{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.price_{
    text-align: left;
    font-weight: 700;
    font-size: 20px;
}
.fair_{
    text-align: left;
    font-size: 10px;
    margin: 3px 0 0 0;
}
.qunt_{
    width: 50%;
    text-align: right;
}
.number_{
    margin-top: 15px;
    height: 20px;
    width: 50%;
}
.addtocard_{
    background-color: black;
    color: white;
    width: 100%;
    height:  2.188rem;
    margin-top: 0.625rem;
    padding: 0;

}