.ProductPartBody {
    width: 100%;
    margin: 0;
}

.ProductPartSearchbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid #212A3E;
    margin-bottom: 1.563rem;
}

.ProductPartSearch {
    /* width: 18.063rem; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProductPartSearch .ProductPartSelectDropdown {
    padding: 0.625rem 0;
    font-size: 1.25rem;
    border: 1px solid black;
    border-radius: 5px;
}

.ProductPartSearch .ProductPartSearchInput {
    width: 100%;
    border: 0;
    margin: 0 1.25rem;
}

.ProductPartSearchbar img {
    width: 1.875rem;
    height: 1.875rem;
    mix-blend-mode: multiply;
}

.ProductPartSort {
    margin-top: 1.563rem;
    margin-bottom: 3.125rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 2.813rem;
}

.ProductPartSort select {
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.25rem;
    font-weight: 500;
}

.ProductPartSort p {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}

.ProductPartData {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.ProductPartItemContainer { 
    display: flex;
    justify-content: space-between;
    margin: 1.875rem 0;
}

.ProductPartItemDetail {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.ProductPartItem {
    display: flex;
    justify-content: space-between;
    margin: 1.875rem;
}


.ProductPartImg img {
    border-radius: 1.25rem;
}

.ProductPartTitle {
    font-size: 1.875rem;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 0 !important;
}

.ProductPartInfoText {
    font-size: 1.25rem;
    color: gray;
    font-weight: 400;
    width: 100%;
}

.ProductPartPrice {
    margin-top: 1.5rem;
    width: 25%;
}

.ProductPartPrice1 {
    display: flex;
    gap: 3.5rem;
    width: 100%;
}

.ProductPartPrice1 p {
    font-size: 1.563rem;
    margin: 0;
    width: 30%;
}

.ProductPartPrice1Input {
    display: flex;
    width: 40%;
    height: 2.843rem;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 3px solid #000000;
    border-radius: 5px;
}

.ProductPartPrice1Input > input {
    width: 80%;
    border: 0;
    text-align: center;
    background-color: transparent;
}

.ProductPartPrice1Input > button {
    width: 10%;
    border: 0;
    background-color: transparent;
}

.ProductPartIncrement {
    display: flex;
    width: 60%;
    height: 1.5rem;
}

.ProductPartIncrement > input {
    width: 80%;
}

.ProductPartPrice > button {
    margin-top: 1.25rem;
    width: 100%;
    height: 4.438rem;
    background-color: #000000;
    color: white;
    border-radius: 1.25rem;
}


/* RESPONSIVE */

@media only screen and (min-width:2160px) {
    .ProductPartImg img{ 
        width: 14rem;
        height: auto;
    }
}

@media only screen and (max-width:1200px) {
    .ProductPartImg img{ 
        width: 15rem;
        height: auto;
    }
}

/* @media only screen and (max-width: 1440px) {
    .ProductPartInfo {
        gap: 0.625rem;
    }
}

@media only screen and (max-width: 1024px) {
    .ProductPartPrice {
        width: 30%;
        margin-top: 1.5rem;
    }
} */
