.SignUpDiv{
  width: 79.16%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7.5rem auto;
}

.SignupPictureDiv {
  width: 45.395%;
}

.SignupPicture {
  width: 100%;
  height: auto;
}