.SignUpNameDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.SignUpNameDiv input {
    width: 11.438rem !important;
}

@media only screen and (max-width:1440px) {
    .SignUpNameDiv input {
        width: 10.438rem !important;
    }
}