.ProductFilterHeading p {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.875rem;
}

.ProductFilterInStock label {
  font-size: 1.25rem;
  margin-left: 0.625rem;
}

.ProductFilterBrands p,
.ProductFilterPrice p,
.ProductFilterCategories p {
  margin: 0;
  font-size: 1.875rem;
  font-weight: 500;
}

.ProductFilterCategories li,
.ProductFilterBrands li,
.ProductFilterPrice li {
  margin-bottom: 0.938rem;
}

.ProductFilterCategoriesCheckbox {
  margin-right: 0.625rem;
}

.ProductFilterCategories label , .ProductFilterBrands label , .ProductFilterPrice label {
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
}

.ProductFilterCategoriesTitle,
.ProductFilterBrandsTitle,
.ProductFilterNoSubmit,
.ProductFilterPriceTitle {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
}

.underline {
  border: 1px solid black;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
