/* COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#root {

    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.container {
   
    max-width: 1440px;
    margin: 20px 20px;
}

body {
    background-color: rgb(248, 248, 248);
    margin-top: 6rem;
    place-items: start !important;
    width: 100% !important;
    height: 100% !important;

}


.profilePageMain {
    display: flex;
}