.Sidebar {
    width: 25%;
    border: 2px solid black;
    box-shadow: 4px 4px 0px 1px rgb(75, 74, 74);


    height: 75vh;

}

.SidebarClose {
    font-size: 2em;
    float: right;
    margin-right: 5px;
}

.Sidebar ul.homeSidebarUl {
    margin: 70px 0;
}

.Sidebar ul.homeSidebarUl li {
    margin: 50px 0;
    text-align: left;
}

.Sidebar ul.homeSidebarUl li a {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.Sidebar ul.homeSidebarUl li a:active {
    color: blue;
}


@media only screen and (max-width: 1024px) {

    .Sidebar ul.homeSidebarUl li a {
        font-size: 1em;
    }

    .SidebarClose {
        display: none;
    }

}




@media only screen and (max-width: 992px) {
    .Sidebar {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
    }

    .Sidebar ul.homeSidebarUl {
        display: flex;
        flex-direction: row;
        margin: 30px;
        padding: 0;
    }


    .Sidebar ul.homeSidebarUl li {
        margin: 0 30px;
    }

}



@media only screen and (max-width: 441px) {
    * {
        display: none;
    }

    .Sidebar {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
    }

    .Sidebar ul.homeSidebarUl {
        display: flex !important;
        flex-direction: column !important;
    }

    .Sidebar ul.homeSidebarUl li {
        margin: 5px 0px;
        font-size: 20px;
    }
}