/* CAROUSAL */

.CaroImg {
    height: 40vh;
    width: 100%;
}

.HeroTop{
    border: 2px solid black;
    box-shadow: 4px 4px 0px 1px rgb(75, 74, 74);



}



@media only screen and (max-width: 990px){

    .CaroImg {
        height: 60vh;
    }

    .HeroTop {
        margin-top: 20px;
    }

}

@media only screen and (max-width: 440px){
    .CaroImg {
        height: 40vh;
    }
}