.HeroBottom {
    border: 2px solid black;
    box-shadow: 4px 4px 0px 1px rgb(75, 74, 74);



    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

/* CAROUSAL */


.slick-slide img{
    display: inline !important;
}

.SlickImg {
    width: 100%;
    height: 40vh;
    /* padding: 20px;
    aspect-ratio: 1/1; */
}


@media only screen and (max-width: 990px){
    .SlickImg {
        height: 60vh;
    }
}

@media only screen and (max-width: 440px){
    .SlickImg {
        height: 40vh;
    }
}