/* Parts Section */

.PartMainDiv {
    margin: 5em 0 !important;
}

.PartDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left:15px !important;
    padding-right:15px !important;

}

.PartDiv > div {
    display: grid;
    width: 33%;
    box-sizing: border-box;
    margin: 0 15px;
}

.Part3 {
    margin-right: -15px !important;
    
}

.Part1 {
    margin-left: 0px !important;
}


.Question , .Support , .Account {
    border: 4px solid black;
    box-shadow: 4px 4px 0px 1px rgb(75, 74, 74);
    padding: 50px;
    box-sizing: border-box;
    height: 300px;
}

.Question {
    margin-left: 0px;
}

.Account {
    margin-right: 0px;
}

.PartsText  , .PartsHeading{
    text-align: left;
}

.CallIconDiv {
    background-color: rgb(76, 162, 126);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    border: 4px solid black;
    border-radius: 2px;
    box-shadow: 4px 4px 0px 1px rgb(75, 74, 74);

    position: relative;
    top: 40px;
    left: 50px;
}

.CallIcon {
    color: white;
    font-size: 1.5em;
}

@media only screen and (max-width: 990px) {

    .PartDiv {
        flex-direction: column;
    }
    
    .Part1 , .Part2 , .Part3 {
        width: 100% !important;
    }

    .Part1 , .Part2 , .Part3 {
        margin: 0 !important;
    }

    .PartsHeading {
        font-size: 3em;
    }

    .PartsText {
        font-size: 1.5em;
    }

    .Question , .Support , .Account {
        overflow: scroll;
        height: 25vh;
    }
}


@media only screen and (max-width: 440px) { 
    .Part1 , .Part2 , .Part3 {
        height: fit-content;
    }

    .Question , .Support , .Account {
        word-wrap: break-word;
        height: fit-content;
    }
}