.Sidebar {
    width: 25rem;
    height: 50rem;

    background-color: #D9E4EB;
    box-shadow: 4px 4px 10px 1px rgb(75, 74, 74);
}

.SidebarClose {
    float: right;
}

button.Sidebarclose {
    display: flex;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    padding: 0 !important;
    margin: 25px 25px 0 0;
}

.Sidebar ul.homeSidebarUl {
    margin: 100px 80px;
    padding-left: 0 !important;
    width: 59.5%;

}

.Sidebar ul.homeSidebarUl li{
    width: 100%;    
    display: flex;
    align-items: center;
    text-align: left;
}

.Sidebar ul.homeSidebarUl li:not(:last-child) {
    margin-bottom: 2.50rem;
}


.Sidebar ul.homeSidebarUl li img{
    margin-right: 1.25rem;
}

.Sidebar ul.homeSidebarUl li a {
    text-decoration: none;
    color: black;
    font-size: 1.875rem;
   word-wrap: break-word;
}

.Sidebar ul.homeSidebarUl li a:active{
    color: blue;
}


@media only screen and (max-width: 1024px){ 

    .Sidebar ul.homeSidebarUl li a {
        font-size: 1em;
    }

    .SidebarClose {
        display: none;
    }
    
}


@media only screen and (max-width: 441px) {
    .Sidebar {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
    }

    .Sidebar ul.homeSidebarUl {
        display: flex !important;
        flex-direction: column !important;
    }

    .Sidebar ul.homeSidebarUl li {
        margin: 5px 0px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 990px){ 
    .Sidebar {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-evenly;
    }

    .Sidebar ul.homeSidebarUl{
        display: flex;
        flex-direction: row;
        margin: 30px;
        padding: 0;
    }

        
    .Sidebar ul.homeSidebarUl li {
        margin: 0 30px;
    }

}



