
@font-face {
    font-family: "GoodEvening";
    src: url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
}

.Good-EveningMain {
    background: linear-gradient(to right , lightblue , rgb(94, 139, 177) , pink);
    width: 100%;
}

.Good-Evening {
    color: black;
    font-family: 'Good-Evening';
    display: flex;
    justify-content: flex-start;
    padding: 5em 40px;
    width: 100%;
    font-weight: lighter !important;
}

.orderHistoryMain {
    display: flex;
    margin: 2.5rem;

}
