.LoginPageLoginContainer {
  width: 79.16%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 7.5rem auto;
}

.LoginPageLoginBody {
  width: 40.1355%;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPageLoginHeading {
  margin: 0;
  
  font-size: 3.125rem;
  height: 3.5rem;
  margin-bottom: 2.5rem;
  color: #394867;
  font-weight: 600;
}

.LoginPageLoginUser {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: 37.5rem;
  border-bottom: 2px solid gray;
  margin-bottom: 2.5rem;
}

.LoginPageLoginUser p {
  width: 50%;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  padding: 0.625px;
}

.LoginPageLoginUser p:first-child {
  border-bottom: 3px solid black !important;
}

.LoginPageLoginWith {
  display: flex;
  gap: 1.25rem;
  width: 37.5rem;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}

.LoginPageLoginWith a {
  text-decoration: none;
  color: black;
  width: 50%;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  height: 3.125rem;
  border: 1px solid black !important;
  border-radius: 1.875rem;
}

.LoginPageLoginOther {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.938rem;
  font-weight: 500;
  gap: 0.625rem;
  margin-bottom: 1.875rem;
}

.LoginPageLoginOther p {
  margin: 0;
}

.LoginPageLoginForm {
  display: flex;
  flex-direction: column;
  width: 27.813rem;
}

.LoginPageLoginForm input {
  padding: 0.625rem;
  border: 1px solid black;
  border-radius: 0.313rem;
  margin-bottom: 2.5rem;
}

.LoginPageLoginForm label {
  /* color: #0000; */
  font-size: 0.938rem;
  font-weight: 600;
  margin-bottom: 0.313rem;
}

.LoginPageLoginForm input[type="text"] {
  margin-bottom: 2.5rem;
}

.LoginPageLoginForm input[type="password"] {
  margin-bottom: 1.875rem;
}

.LoginPageLoginForm button {
  height: 3.188rem;
  background-color: #394867;
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffff;
  margin-bottom: 1.875rem;
}

.LoginPageLoginSidePicture {
  width: 45.395%;
}

.LoginPageLoginSidePicture img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1440px) {
  .LoginPageLoginContainer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 3rem 6rem 3rem 6rem;
  }
  .LoginPageLoginBody {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 30rem; */
    width: 50%;
    height: 50%;
  }

  .LoginPageLoginHeading {
    margin: 0;
    /* margin-top: 7.5rem; */
    font-size: 3.125rem;
    height: 3.5rem;
    margin-bottom: 2.5rem;
    color: #394867;
    font-weight: 600;
  }

  .LoginPageLoginUser {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    width: 100%;
    border-bottom: 2px solid gray;
    margin-bottom: 2.5rem;
  }

  .LoginPageLoginUser p {
    width: 50%;
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    margin: 0;
    padding: 0.625px;
  }

  .LoginPageLoginUser p:first-child {
    border-bottom: 3px solid black !important;
  }

  .LoginPageLoginWith {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.625rem;
    margin-bottom: 1.875rem;
  }

  .LoginPageLoginWith p {
    margin: 0;
    width: 50%;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.625rem;
    height: 3.125rem;
    border: 1px solid black !important;
    border-radius: 1.875rem;
  }

  .LoginPageLoginOther {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.938rem;
    font-weight: 500;
    gap: 0.625rem;
    margin-bottom: 1.875rem;
  }

  .LoginPageLoginOther p {
    margin: 0;
  }

  .LoginPageLoginForm {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  .LoginPageLoginForm input {
    width: 100%;
  }

  .LoginPageLoginForm input {
    padding: 0.625rem;
    border: 1px solid black;
    border-radius: 0.313rem;
    margin-bottom: 2.5rem;
  }

  .LoginPageLoginForm label {
    /* color: #0000; */
    font-size: 0.938rem;
    font-weight: 600;
    margin-bottom: 0.313rem;
  }

  .LoginPageLoginForm input[type="text"] {
    margin-bottom: 2.5rem;
  }

  .LoginPageLoginForm input[type="password"] {
    margin-bottom: 1.875rem;
  }

  .LoginPageLoginForm button {
    height: 3.188rem;
    background-color: #394867;
    font-size: 1.25rem;
    font-weight: 500;
    color: #ffff;
    margin-bottom: 1.875rem;
  }
  .LoginPageLoginSidePicture {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: stretch;
  }
  .LoginPageLoginSidePicture img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 990px) {
  .LoginPageLoginContainer {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 769px) {
  .LoginPageLoginSidePicture {
    width: 100%;
  }
  .LoginPageLoginWith {
    width: 37.5rem;
  }

  .LoginPageLoginForm {
    width: 100%;
  }

  .LoginPageLoginForm input {
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .LoginPageLoginContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    margin-top: 2rem;
    word-wrap: break-word;
    box-sizing: border-box;
  }
  .LoginPageLoginBody {
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .LoginPageLoginSidePicture {
    width: 80%;
  }

  .LoginPageLoginWith {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin-bottom: 1.875rem;
    width: 85%;
  }
  .LoginPageLoginUser {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    width: 100%;
    border-bottom: 2px solid gray;
    margin-bottom: 2.5rem;
  }

  .LoginPageLoginWith p {
    width: 100%;
  }
}

@media only screen and (max-width: 330PX) {
  .LoginPageLoginWith {
    display: flex;
    flex-direction: row;
  }
  .LoginPageLoginWith p {
    width: 50%;
    border: none !important;
  }
  .LoginPageLoginWith p img {
    border: 1px solid black;
    border-radius: 50%;
  }
  .LoginPageLoginDisable {
    display: none;
  }
}
