/* Parts Section */

.HomeFooterDiv {

    margin: 3.125rem 2.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.HomeFooterComponentDiv {
    display: flex;
    justify-content: space-between;
    height: 78%;

}

.HomeFooterQuestionHeading {
    text-align: left;
    width: 28.5%;
    height: fit-content;
    word-wrap: break-word;
}

.HomeFooterQuestionHeading p {
    font-weight: 600;  
    font-size: 3.75rem;

    line-height: 120%;
    letter-spacing:normal;

    margin-bottom: 0 !important;
}

/* COMPONENT 1 */

.HomeFooterComponent1 {
    width: 17.3%;
    height: 78%;
    text-align: left;

}

.HomeFooterComponent1 p {
    font-weight: 400;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.75rem !important;
}

.HomeFooterComponent1 .Contact {
    color: black;
    text-decoration: underline;

    font-weight: 500;
    font-size: 1.25rem;
    width: fit-content;
    
    letter-spacing: 0.4px;
}

/*  COMPONENT 2 */

.HomeFooterComponent2 {
    width: 16.5%;
    height: 78%;

    text-align: left;
}

.HomeFooterComponent2 p {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -0.4px;
    line-height: 150%;
    margin-top: 20px;
    margin-bottom: 12px;
}

.HomeFooterComponent2 .Email {
    color: black;
    text-decoration: underline;

    font-weight: 500;
    font-size: 1.25rem;
    width: fit-content;
    
    letter-spacing: 0.4px;
}

.HomeFooterComponent3 {
    width: 14%;

    text-align: left;
    display: flex;   
}

.grey-line {
    height: 70%; 
    margin: auto;
    width: 1px; 
    border-left: 1px solid #C9C9C9; 
    position: relative;
    left: 0; 
  }

  .HomeFooterComponent3Sub {
    margin-left: 25px;
  }

.HomeFooterComponent3Sub p {
    font-weight: 600;
    font-size: 1.875rem;
    margin: 1.25rem 0;
    line-height: 120%;
    letter-spacing: -0.6px;
}

.HomeFooterComponent3Sub .FeedbackButton {
    border: 2px solid #212A3E;
    border-radius: 10px;
    background-color: white;
    color: #212A3E;
    
    font-weight: 400;
    font-size: 1.25rem;
    
    padding: 0.5rem 1.688rem;

    line-height:150%;
    letter-spacing: 0.4px;
}

.HomeComponentFooterHelp {
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: 0.4px;
    word-spacing: 2px;
    
    font-weight: 400;
    width: auto;
    margin: 27px auto auto auto;
}

/* COPYRIGHT */

.HomeComponentCopyrightDiv {
    text-align: left;
    margin-top: 3.75rem;
    width: 77%;
    
}

.HomeComponentCopyrightDiv p {
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 0 !important;
}

.TermsAndPrivacy{
    margin-top: 1.875rem;
    width: 27%;

    display: flex;
    justify-content: space-between;
}

.TermsAndPrivacy a {
    color: black;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 600;

    line-height: 150%;
    letter-spacing: 0.4px;

}