
/* COMMON */

* {
    padding: 0;
}

#root {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.containerDiv {
    max-width: 1920px;
    margin: 0 !important;

}

body {
    width: 100% !important;
    height: 100% !important;
    place-items: start;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width :1440px) {
    .containerDiv {
        max-width: 1440px;
        margin: 0 !important;
    }
}

@media only screen and (max-width :768px) {
    .containerDiv {
        max-width: 768px;
        margin: 0 !important;
    }
}

@media only screen and (max-width :375px) {
    .containerDiv {
        max-width: 375px;
        margin: 0 !important;
    }
}